# {{ ansible_managed }}
## Server ##
server_name: {{ matrix_server_name }}

pid_file: "/var/run/matrix/matrix.pid"
federation_ip_range_blacklist:
{% for entry in matrix_federation_blacklist %}
  - {{ entry }}
{% endfor %}


listeners:
  - port: 8448
    type: http
    tls: true
    bind_addresses: ['::']
    resources:
      - names: [client, federation]

  - port: 8008
    tls: false
    bind_addresses: ['::1', '127.0.0.1']
    type: http
    x_forwarded: true

    resources:
      - names: [client, federation]
        compress: false
admin_contact: '{{ matrix_admin_contact }}'

## TLS ##
#
tls_certificate_path: "{{ matrix_tls_certificate_path }}"
tls_private_key_path: "{{ matrix_tls_key_path }}"
acme:

## Database ##
#
database:
  name: psycopg2
  args:
    user: {{ matrix_db_user }}
    password: {{ matrix_db_password }}
    database: {{ matrix_db_name }}
    host: {{ matrix_db_host }}
    client_encoding: 'UTF-8'
    cp_min: 5
    cp_max: 10

## Logging ##
#
log_config: "{{ matrix_path_logconfig }}"


## Storage ##
#
media_store_path: "{{ matrix_path_media }}"

# Directory where in-progress uploads are stored.
#
uploads_path: "{{ matrix_path_uploads }}"

# If set, allows registration of standard or admin accounts by anyone who
# has the shared secret, even if registration is otherwise disabled.
#
registration_shared_secret: "{{ matrix_registration_secret }}"

# Allows users to register as guests without a password/email/etc, and
# participate in rooms hosted on this server which have been made
# accessible to anonymous users.
#
allow_guest_access: {{ matrix_guest_access | ternary(True, False) }}

## Signing Keys ##
# Path to the signing key to sign messages with
#
signing_key_path: "{{ matrix_signing_key_path }}"
trusted_key_servers:
{% for server in matrix_trusted_key_servers %}
   - server_name: "{{ server }}"
{% endfor %}


password_config:
   enabled: true


# App services
app_service_config_files: []
experimental_features: { spaces_enabled: true }
presence:
  enabled: False
url_preview_enabled: True
url_preview_ip_range_blacklist:
  - '127.0.0.0/8'
  - 'fe80::/10'

report_stats: False
