# {{ ansible_managed }}
# Log configuration for Synapse.
#
# This is a YAML file containing a standard Python logging configuration
# dictionary. See [1] for details on the valid settings.
#
# [1]: https://docs.python.org/3.7/library/logging.config.html#configuration-dictionary-schema

version: 1

formatters:
    precise:
        format: ' %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'

filters:
    context:
        (): synapse.logging.context.LoggingContextFilter
        request: ""

handlers:
    console:
        class: logging.StreamHandler
        formatter: precise
        filters: [context]
    syslog:
        class: logging.handlers.SysLogHandler
        .:
          ident: matrix
        address: "/dev/log"
        formatter: precise
        filters: [context]
loggers:
    synapse.storage.SQL:
        # beware: increasing this to DEBUG will make synapse log sensitive
        # information such as access tokens.
        level: INFO

root:
    level: WARNING
    handlers: [syslog]

disable_existing_loggers: false
