#!/sbin/openrc-run
# {{ ansible_managed }}
# Copyright 1999-2017 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2

: ${MATRIX_DIR:={{ matrix_path_htdocs }}}
: ${MATRIX_CONF:={{ matrix_path_conf }}/homeserver.yaml}
: ${MATRIX_OPTS:="${MATRIX_CONF}"}
: ${MATRIX_USER:={{ matrix_user }}}
: ${MATRIX_GROUP:={{ matrix_user }}}
: ${MATRIX_TIMEOUT:=30}

command="{{ matrix_path_htdocs }}/venv/bin/synctl"
command_args="start ${MATRIX_OPTS}"
command_user="${MATRIX_USER}:${MATRIX_GROUP}"
pidfile="/var/run/${RC_SVCNAME}/${RC_SVCNAME}.pid"
retry="${MATRIX_TIMEOUT}"
start_stop_daemon_args="--chdir \"${MATRIX_DIR}\""

depend() {
        use localmount logger
        after keepalived
}
start_pre() {
    checkpath --directory --mode 0700 --owner "${MATRIX_USER}:${MATRIX_GROUP}" "$(dirname ${pidfile})"
}

start_post() {
    checkpath --directory --mode 0700 --owner "root:root" "$(dirname ${pidfile})"
}
